# Learn more about configuring your app at https://shopify.dev/docs/apps/tools/cli/configuration

client_id = "29f637f47ebc0cbe90473fb301470de3"
name = "Wallpaper Image Manager"
application_url = "https://wallpaper-image-app.lybach1134.click"
embedded = true

[build]
automatically_update_urls_on_dev = true
include_config_on_deploy = true

[webhooks]
api_version = "2025-10"

  [[webhooks.subscriptions]]
  topics = [ "app/uninstalled" ]
  uri = "/webhooks/app/uninstalled"

  [[webhooks.subscriptions]]
  topics = [ "app/scopes_update" ]
  uri = "/webhooks/app/scopes_update"

[access_scopes]
# Learn more at https://shopify.dev/docs/apps/tools/cli/configuration#access_scopes
scopes = "read_files,write_files,read_product_listings,write_product_listings,read_products,write_products,unauthenticated_read_product_listings,unauthenticated_read_product_tags,read_metaobjects,write_metaobjects"
optional_scopes = [ ]
use_legacy_install_flow = false

[auth]
redirect_urls = [ ]
